{
  "presets": [
    "env",
    "react-app"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "dynamic-import-node",
    [
      "react-intl",
      {
        "messagesDir": "./build/messages/"
      }
    ],
    "react-loadable/babel"
  ]
}
